name: Project Continous Integration Testing

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check HTML Existing
      - run: ls index.html

      - name: Validate HTML File
      - run: | 
          sudo apt install tidy -y
          tidy erros index.html